:root{
  --color-durazno: #FAD4C0;
  --color-crema:  #FFF1E6;
  --color-arena:  #BFA58A;
  --color-gris:   #2E2E2E;
  --color-blanco: #FFFFFF;
  --color-black: #000000;

  --font-sans: 'Poppins', system-ui, sans-serif;
  --font-serif: 'Lora', Georgia, serif;

  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space: 1rem;
  --space-lg: 1.5rem;

  --radius: 12px;
  --transition: 0.25s ease;
}
